+++
title = "Awesome Team"
linkTitle = "Awesome Team"

+++

<!-- You can customize the layout of each block using bootstrap. Learn more at https://getbootstrap.com/docs/4.0/getting-started/introduction/ -->

{{< blocks/cover title="Bienvenue dans l'équipe géniale de TELUS" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Commencer <i class="fas fa-running"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/andrewdhr/telus-awesome-team">
		Contribuer <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">La solution de documentation unique de notre équipe - dans le cloud !</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
<!-- The TELUS **awesome team** presents this beautiful and centralized web UI for hosting our technical and work documents.  -->
Depuis 2019, la formidable équipe de TELUS offre des services de restauration à la fine pointe de la technologie aux clients de TELUS dans le cadre de l'initiative Repas sains de TELUS! En utilisant le réseau 5G et les drones de TELUS, nous visons à fournir des aliments savoureux et frais à nos clients pressés, avec la vitesse 5G !

Malheureusement, la formidable équipe de TELUS n'est pas réelle. Mais tout comme eux, vous pouvez facilement utiliser ce modèle pour gérer de manière centralisée vos documents techniques et de travail sur GitHub et GCP.
{{% /blocks/lead %}}

<!-- {{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}} -->


<!-- {{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}} -->



{{< blocks/section >}}
{{% blocks/feature icon="fas fa-users" title="Équipe avant le code" url="https://hcm17.sapsf.com/sf/orgchart?selected_user=T809986&_s.crb=b%2fjyTBtADT3c9XMY%2fOp%2fuHaELuj0BPfaajtHakHzElA%3d"%}}
Visitez TeamHub pour connaître les nombreux visages qui font le <br> **Repas santé TELUS** possible!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions bienvenues" url="https://github.com/andrewdhr/telus-awesome-team" %}}
Nous effectuons un workflow de contributions [Pull Request](https://github.com/andrewdhr/telus-awesome-team/pulls) sur **GitHub**. <br> Toutes sortes de commentaires sont les bienvenus !
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-slack" title="Envoyez-nous un ping sur Slack" url="https://example.org" %}}
Vous préférez nous parler en personne? N'hésitez pas à rejoindre notre chaîne !
{{% /blocks/feature %}}


{{< /blocks/section >}}

<!-- {{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}} -->
