+++
title = "Awesome Team"
linkTitle = "Awesome Team"

+++

{{< blocks/cover title="Welcome to the TELUS Awesome Team!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Getting Started <i class="fas fa-running"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/andrewdhr/telus-awesome-team">
		Contribute <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Our team's one-stop documentation solution - in the cloud!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
The TELUS **awesome team** presents this beautiful and centralized web UI to host our technical and work documents in markup language. 
Since 2015, our team has delivered state-of-art services to TELUS customers under the "Awesome" initiave!

(Sadly, the TELUS awesome team isn't real. But just like them, you can use this site as an example to create your own websites for docs on GitHub and GCP.)
{{% /blocks/lead %}}

<!-- {{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}} -->


<!-- {{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}} -->



{{< blocks/section >}}
{{% blocks/feature icon="fas fa-users" title="Team before code" url="https://hcm17.sapsf.com/sf/orgchart?selected_user=T809986&_s.crb=b%2fjyTBtADT3c9XMY%2fOp%2fuHaELuj0BPfaajtHakHzElA%3d"%}}
Visit TeamHub to know the many faces that make the <br>  **TELUS Awesome Project** possible! 
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome" url="https://github.com/andrewdhr/telus-awesome-team" %}}
We do a [Pull Request](https://github.com/andrewdhr/telus-awesome-team/pulls) contributions workflow on **GitHub**.  <br>  All kinds of feedback are welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-slack" title="Ping us on Slack" url="https://example.org" %}}
Prefer to talk to us in person? Feel free to join our channel!
{{% /blocks/feature %}}


{{< /blocks/section >}}

<!-- {{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}} -->
